
$primary-color: #1976d2 !default;
$primary-color-light: false !default;
$primary-color-dark: false !default;
@if not $primary-color-light {
    $primary-color-light: lighten($primary-color, 15%);
}
@if not $primary-color-dark {
    $primary-color-dark: darken($primary-color, 15%);
}
$secondary-color: #1976d2 !default;
$success-color: #1976d2 !default;
$error-color:  #b71c1c !default;

@import "materialize-css/sass/materialize";


