

.ripple-om {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple-om 600ms linear;
    background-color: rgba(255, 255, 255, 0.7);
}
@keyframes ripple-om {
    to {
        transform: scale(4);
        opacity: 0;
    }
}


/*#region Icon Error*/
.sa {
    //background-color: #fff;
    &-error {
        border-radius: 50%;
        border: 4px solid #f27474;
        box-sizing: content-box;
        height: 80px;
        padding: 0;
        position: relative;
        //background-color: #fff;
        width: 80px;
        animation: animateErrorIcon 0.5s;
        &:after,
        &:before {
            //background: #fff;
            //content: "";
            height: 120px;
            position: absolute;
            transform: rotate(45deg);
            width: 60px;
        }
        &:before {
            border-radius: 40px 0 0 40px;
            width: 26px;
            height: 80px;
            top: -17px;
            left: 5px;
            transform-origin: 60px 60px;
            transform: rotate(-45deg);
        }
        &:after {
            border-radius: 0 120px 120px 0;
            left: 30px;
            top: -11px;
            transform-origin: 0 60px;
            transform: rotate(-45deg);
            animation: rotatePlaceholder 4.25s ease-in;
        }
        &-x {
            display: block;
            position: relative;
            z-index: 2;
        }
        &-placeholder {
            border-radius: 50%;
            border: 4px solid rgba(200, 0, 0, 0.2);
            box-sizing: content-box;
            height: 80px;
            left: -4px;
            position: absolute;
            top: -4px;
            width: 80px;
            z-index: 2;
        }
        &-fix {
            //background-color: #fff;
            height: 90px;
            left: 28px;
            position: absolute;
            top: 8px;
            transform: rotate(-45deg);
            width: 5px;
            z-index: 1;
        }
        &-left,
        &-right {
            border-radius: 2px;
            display: block;
            height: 5px;
            position: absolute;
            z-index: 2;
            background-color: #f27474;
            top: 37px;
            width: 47px;
        }
        &-left {
            left: 17px;
            transform: rotate(45deg);
            animation: animateXLeft 0.75s;
        }
        &-right {
            right: 16px;
            transform: rotate(-45deg);
            animation: animateXRight 0.75s;
        }
    }
}
@keyframes rotatePlaceholder {
    0%,
    5% {
        transform: rotate(-45deg);
    }
    100%,
    12% {
        transform: rotate(-405deg);
    }
}
@keyframes animateErrorIcon {
    0% {
        transform: rotateX(100deg);
        opacity: 0;
    }
    100% {
        transform: rotateX(0deg);
        opacity: 1;
    }
}
@keyframes animateXLeft {
    0%,
    65% {
        left: 82px;
        top: 95px;
        width: 0;
    }
    84% {
        left: 14px;
        top: 33px;
        width: 47px;
    }
    100% {
        left: 17px;
        top: 37px;
        width: 47px;
    }
}
@keyframes animateXRight {
    0%,
    65% {
        right: 82px;
        top: 95px;
        width: 0;
    }
    84% {
        right: 14px;
        top: 33px;
        width: 47px;
    }
    100% {
        right: 16px;
        top: 37px;
        width: 47px;
    }
}
/*#endregion Icon Error*/

/*#region Icon Warning*/
.sa {
    background-color: #fff;
    &-warning {
        border-radius: 50%;
        border: 4px solid #F8BB86;
        box-sizing: content-box;
        height: 80px;
        padding: 0;
        position: relative;
        //background-color: #fff;
        width: 80px;
        animation: scaleWarning 0.75s infinite alternate;
        &:after, &:before {
            //background: #fff;
            content: '';
            border-radius: 50%;
            height: 100%;
            position: absolute;
            width: 100%;
        }
        &:before {
            display: inline-block;
            opacity: 0;
            animation: pulseWarning 2s linear infinite;
        }
        &:after {
            display: block;
            z-index: 1;
        }
        &-body {
            background-color: #F8BB86;
            border-radius: 2px;
            height: 47px;
            left: 50%;
            margin-left: -2px;
            position: absolute;
            top: 10px;
            width: 5px;
            z-index: 2;
            animation: pulseWarningIns 0.75s infinite alternate;
        }
        &-dot {
            background-color: #F8BB86;
            border-radius: 50%;
            bottom: 10px;
            height: 7px;
            left: 50%;
            margin-left: -3px;
            position: absolute;
            width: 7px;
            z-index: 2;
            animation: pulseWarningIns 0.75s infinite alternate;
        }
    }
}
@keyframes scaleWarning {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.02);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes pulseWarning {
    0% {
        background-color: #fff;
        transform: scale(1);
        opacity: 0.5;
    }
    30% {
        background-color: #fff;
        transform: scale(1);
        opacity: 0.5;
    }
    100% {
        background-color: #F8BB86;
        transform: scale(2);
        opacity: 0;
    }
}
@keyframes pulseWarningIns {
    0% {
        background-color: #F8D486;
    }
    100% {
        background-color: #F8BB86;
    }
}
/*#endregion Icon warning*/

/*#region Icon Info*/
.sa {
    background-color: #fff;
    &-info {
        border-radius: 50%;
        border: 4px solid #1E46A7;
        box-sizing: content-box;
        height: 80px;
        padding: 0;
        position: relative;
        //background-color: #fff;
        width: 80px;
        animation: scaleInfo 0.75s infinite alternate;
        &:after, &:before {
            //background: #fff;
            content: '';
            border-radius: 50%;
            height: 100%;
            position: absolute;
            width: 100%;
        }
        &:before {
            display: inline-block;
            opacity: 0;
            animation: pulseInfo 2s linear infinite;
        }
        &:after {
            display: block;
            z-index: 1;
        }
        &-body {
            background-color: #F8BB86;
            border-radius: 2px;
            height: 47px;
            left: 50%;
            margin-left: -2px;
            position: absolute;
            top: 10px;
            width: 5px;
            z-index: 2;
            animation: pulseInfoIns 0.75s infinite alternate;
        }
        &-dot {
            background-color: #F8BB86;
            border-radius: 50%;
            bottom: 10px;
            height: 7px;
            left: 50%;
            margin-left: -3px;
            position: absolute;
            width: 7px;
            z-index: 2;
            animation: pulseInfoIns 0.75s infinite alternate;
        }
    }
}
@keyframes scaleInfo {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.02);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes pulseInfo {
    0% {
        background-color: #fff;
        transform: scale(1);
        opacity: 0.5;
    }
    30% {
        background-color: #fff;
        transform: scale(1);
        opacity: 0.5;
    }
    100% {
        background-color: #1E46A7;
        transform: scale(2);
        opacity: 0;
    }
}
@keyframes pulseInfoIns {
    0% {
        background-color: #1E46A7;
    }
    100% {
        background-color: #1E46A7;
    }
}
/*#endregion Icon warning*/

/*#region Icon Success*/
.sa {

    background-color: #fff;
    &-success {
        border-radius: 50%;
        border: 4px solid #A5DC86;
        box-sizing: content-box;
        height: 80px;
        padding: 0;
        position: relative;
        //background-color: #fff;
        width: 80px;
        &:after, &:before {
            //background: #fff;
            //content: '';
            height: 120px;
            position: absolute;
            transform: rotate(45deg);
            width: 60px;
        }
        &:before {
            border-radius: 40px 0 0 40px;
            width: 26px;
            height: 80px;
            top: -17px;
            left: 5px;
            transform-origin: 60px 60px;
            transform: rotate(-45deg);
        }
        &:after {
            border-radius: 0 120px 120px 0;
            left: 30px;
            top: -11px;
            transform-origin: 0 60px;
            transform: rotate(-45deg);
            animation: rotatePlaceholder 4.25s ease-in;
        }
        &-placeholder {
            border-radius: 50%;
            border: 4px solid rgba(165, 220, 134, 0.25);
            box-sizing: content-box;
            height: 80px;
            left: -4px;
            position: absolute;
            top: -4px;
            width: 80px;
            z-index: 2;
        }
        &-fix {
            //background-color: #fff;
            height: 90px;
            left: 28px;
            position: absolute;
            top: 8px;
            transform: rotate(-45deg);
            width: 5px;
            z-index: 1;
        }
        &-tip, &-long {
            background-color: #A5DC86;
            border-radius: 2px;
            height: 5px;
            position: absolute;
            z-index: 2;
        }
        &-tip {
            left: 14px;
            top: 46px;
            transform: rotate(45deg);
            width: 25px;
            animation: animateSuccessTip .75s;
        }
        &-long {
            right: 8px;
            top: 38px;
            transform: rotate(-45deg);
            width: 47px;
            animation: animateSuccessLong .75s;
        }
    }
}
@keyframes animateSuccessTip {
    0%, 54% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }
    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }
    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}
@keyframes animateSuccessLong {
    0%, 65% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    84% {
        width: 55px;
        right: 0;
        top: 35px;
    }
    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}
@keyframes rotatePlaceholder {
    0%, 5% {
        transform: rotate(-45deg);
    }
    100%, 12% {
        transform: rotate(-405deg);
    }
}

/*#endregion*/

/*#region Icon Complete*/
.sa {

    background-color: #fff;
    &-complete {
        border-radius: 50%;
        border: 4px solid #1E46A7;
        box-sizing: content-box;
        height: 80px;
        padding: 0;
        position: relative;
        //background-color: #fff;
        width: 80px;
        &:after, &:before {
            //background: #fff;
            content: '';
            height: 120px;
            position: absolute;
            transform: rotate(45deg);
            width: 60px;
        }
        &:before {
            border-radius: 40px 0 0 40px;
            width: 26px;
            height: 80px;
            top: -17px;
            left: 5px;
            transform-origin: 60px 60px;
            transform: rotate(-45deg);
        }
        &:after {
            border-radius: 0 120px 120px 0;
            left: 30px;
            top: -11px;
            transform-origin: 0 60px;
            transform: rotate(-45deg);
            animation: rotatePlaceholder 4.25s ease-in;
        }
        &-placeholder {
            border-radius: 50%;
            border: 4px solid rgba(105, 131, 196, 0.25);
            box-sizing: content-box;
            height: 80px;
            left: -4px;
            position: absolute;
            top: -4px;
            width: 80px;
            z-index: 2;
        }
        &-fix {
            //background-color: #fff;
            height: 90px;
            left: 28px;
            position: absolute;
            top: 8px;
            transform: rotate(-45deg);
            width: 5px;
            z-index: 1;
        }
        &-tip, &-long {
            background-color: #1E46A7;
            border-radius: 2px;
            height: 5px;
            position: absolute;
            z-index: 2;
        }
        &-tip {
            left: 14px;
            top: 46px;
            transform: rotate(45deg);
            width: 25px;
            animation: animateCompleteTip .75s;
        }
        &-long {
            right: 8px;
            top: 38px;
            transform: rotate(-45deg);
            width: 47px;
            animation: animateCompleteLong .75s;
        }
    }
}
@keyframes animateCompleteTip {
    0%, 54% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }
    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }
    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}
@keyframes animateCompleteLong {
    0%, 65% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    84% {
        width: 55px;
        right: 0;
        top: 35px;
    }
    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}
@keyframes rotatePlaceholder {
    0%, 5% {
        transform: rotate(-45deg);
    }
    100%, 12% {
        transform: rotate(-405deg);
    }
}

/*#endregion*/

