@import "om.css";
@import '~@fortawesome/fontawesome-free/css/fontawesome.css';
@import '~@fortawesome/fontawesome-free/css/regular.css';
@import '~@fortawesome/fontawesome-free/css/solid.css';
@import '~@fortawesome/fontawesome-free/css/brands.css';
@import "tailwindcss/tailwind.css";
@import 'animate.css/animate.css';
@import '~select2/dist/css/select2.css';
@import '~daterangepicker/daterangepicker.css';
/*@import 'materialize-css';*/
/*@import 'flatpickr/dist/flatpickr';*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/*Anular focus button materialize*/
/*button:focus {*/
/*    background: transparent;*/
/*}*/
.btn:hover {
 background-color: transparent;
    box-shadow: none;
}
.btn{
    line-height: inherit;
}
.input-field > label:not(.label-icon).active {
    transform: translateY(-14px) scale(1);
    transform-origin: 0 0;
}



@layer components {

    .btn-om-primary {
        @apply m-1 rounded  min-w-max overflow-hidden shadow-md shadow-cyan-200 relative text-white hover:bg-opacity-90 py-1 px-4 font-semibold  focus:outline-none focus:ring-1 focus:ring-blue-400 focus:ring-opacity-75 bg-gradient-to-r from-cyan-500 to-blue-500;
    }
    .btn-om-secondary {
        @apply rounded min-w-max overflow-hidden   shadow-md shadow-fuchsia-200 border-fuchsia-300 relative text-white hover:bg-opacity-90 py-1 px-4 font-semibold  focus:outline-none focus:ring-1 focus:ring-fuchsia-300 focus:ring-opacity-75 bg-gradient-to-r from-purple-500 to-fuchsia-500;
    }
    .btn-om-success {
        @apply rounded min-w-max overflow-hidden  shadow-md shadow-green-200 border-green-300 relative text-white hover:bg-opacity-90 py-1 px-4 font-semibold  focus:outline-none focus:ring-1 focus:ring-green-300 focus:ring-opacity-75 bg-gradient-to-r from-lime-600 to-green-600;
    }
    .btn-om-danger {
        @apply rounded min-w-max overflow-hidden  shadow-md shadow-red-200 border-red-300 relative text-white hover:bg-opacity-90 py-1 px-4 font-semibold  focus:outline-none focus:ring-1 focus:ring-red-300 focus:ring-opacity-75 bg-gradient-to-r from-pink-500 to-red-500;
    }
    .form-control-om-floating {
        @apply mt-10 relative p-2;
    }
    .form-control-om-floating>input {
        @apply    h-10 w-full border-b-2  placeholder-transparent focus:outline-none focus:border-blue-700;
    }
    /*.form-control-om-floating>label {*/
    /*    @apply absolute left-2 -top-3.5 text-grey-600 text-sm transition-all ;*/
    /*}*/
}


